USE [master]
GO
/****** Object:  Database [QL_Sach]    Script Date: 04/10/2025 11:25:40 ******/
CREATE DATABASE [QL_Sach] ON  PRIMARY 
( NAME = N'QL_Sach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.CSSQL08\MSSQL\DATA\QL_Sach.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_Sach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.CSSQL08\MSSQL\DATA\QL_Sach_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Sach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Sach]
GO
/****** Object:  Table [dbo].[TBL_CHITIET]    Script Date: 04/10/2025 11:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CHITIET](
	[MAHD] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HOADON]    Script Date: 04/10/2025 11:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[NGAYTAO] [date] NULL,
	[MAKH] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KHACHHANG]    Script Date: 04/10/2025 11:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SODIENTHOAI] [int] NULL,
	[MATKHAU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LOAI]    Script Date: 04/10/2025 11:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOAI](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NHASANXUAT]    Script Date: 04/10/2025 11:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NHASANXUAT](
	[MANSX] [varchar](10) NOT NULL,
	[TENNSX] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SANPHAM]    Script Date: 04/10/2025 11:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SANPHAM](
	[MASANPHAM] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MALOAI] [varchar](10) NULL,
	[MANSX] [varchar](10) NULL,
	[GIA] [decimal](18, 2) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[HINH] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_CHITIET] ([MAHD], [MASP], [SOLUONG]) VALUES (N'HD01', N'SP01', 2)
INSERT [dbo].[TBL_CHITIET] ([MAHD], [MASP], [SOLUONG]) VALUES (N'HD01', N'SP02', 1)
INSERT [dbo].[TBL_CHITIET] ([MAHD], [MASP], [SOLUONG]) VALUES (N'HD02', N'SP03', 1)
GO
INSERT [dbo].[TBL_HOADON] ([MAHD], [NGAYTAO], [MAKH]) VALUES (N'HD01', CAST(N'2025-10-01' AS Date), N'KH01')
INSERT [dbo].[TBL_HOADON] ([MAHD], [NGAYTAO], [MAKH]) VALUES (N'HD02', CAST(N'2025-10-02' AS Date), N'KH02')
INSERT [dbo].[TBL_HOADON] ([MAHD], [NGAYTAO], [MAKH]) VALUES (N'HD03', CAST(N'2025-10-03' AS Date), N'KH03')
GO
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [TENKH], [SODIENTHOAI], [MATKHAU]) VALUES (N'KH01', N'Nguyễn Văn A', 912345678, N'123456')
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [TENKH], [SODIENTHOAI], [MATKHAU]) VALUES (N'KH02', N'Lê Thị B', 934567890, N'abcdef')
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [TENKH], [SODIENTHOAI], [MATKHAU]) VALUES (N'KH03', N'Trần Văn C', 978123456, N'pass123')
GO
INSERT [dbo].[TBL_LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L01', N'Truyện tranh')
INSERT [dbo].[TBL_LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L02', N'Tiểu thuyết')
INSERT [dbo].[TBL_LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L03', N'Sách giáo khoa')
GO
INSERT [dbo].[TBL_NHASANXUAT] ([MANSX], [TENNSX]) VALUES (N'NSX01', N'NXB Kim Đồng')
INSERT [dbo].[TBL_NHASANXUAT] ([MANSX], [TENNSX]) VALUES (N'NSX02', N'NXB Trẻ')
INSERT [dbo].[TBL_NHASANXUAT] ([MANSX], [TENNSX]) VALUES (N'NSX03', N'NXB Giáo Dục')
GO
INSERT [dbo].[TBL_SANPHAM] ([MASANPHAM], [TENSP], [MALOAI], [MANSX], [GIA], [GHICHU], [HINH]) VALUES (N'SP01', N'Doraemon Tập 1', N'L01', N'NSX01', CAST(25000.00 AS Decimal(18, 2)), N'Truyện hài thiếu nhi', N'/images/doraemon1.jpg')
INSERT [dbo].[TBL_SANPHAM] ([MASANPHAM], [TENSP], [MALOAI], [MANSX], [GIA], [GHICHU], [HINH]) VALUES (N'SP02', N'Conan Tập 1', N'L01', N'NSX01', CAST(28000.00 AS Decimal(18, 2)), N'Truyện trinh thám', N'/images/conan1.jpg')
INSERT [dbo].[TBL_SANPHAM] ([MASANPHAM], [TENSP], [MALOAI], [MANSX], [GIA], [GHICHU], [HINH]) VALUES (N'SP03', N'Tôi thấy hoa vàng trên cỏ xanh', N'L02', N'NSX05', CAST(55000.00 AS Decimal(18, 2)), N'Tiểu thuyết nổi tiếng', N'/images/hoa_vang.jpg')
GO
ALTER TABLE [dbo].[TBL_CHITIET]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[TBL_HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[TBL_CHITIET]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[TBL_SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[TBL_HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[TBL_KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TBL_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[TBL_LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[TBL_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MANSX])
REFERENCES [dbo].[TBL_NHASANXUAT] ([MANSX])
GO
USE [master]
GO
